In [ ]:
students = []
a = ["harry","barry","pallavi","om","maha","santu"]
b = [30,45,56,67,67,89]
for i in range(len(a)):
   students.append([a[i],b[i]])
print(students)
d = sorted(students, key=lambda x:(x[1], x[0]))
for students in d:
  print(students[0], students[1])

[['harry', 30], ['barry', 45], ['pallavi', 56], ['om', 67], ['maha', 67], ['santu', 89]]
harry 30
barry 45
pallavi 56
maha 67
om 67
santu 89

5
sandy,sdjf,a,DS,DF,SD
12
32
34
45
56
7
787
87
98
32

In [ ]:
def show_menu():
  print("list of application")
  print("1.view task")
  print("2.add task")
  print("mark task as complete")
  print("remove task")
  print("exit")
def view_tasks(task):
  if not task:
    print("your to do list is empty")
  else:
    print("in current task")
    for idx, task in enumerate(task, 1):
      print(f"{idx}.{task}")

def add_task(task):
  task = input("enter your task:")
  task.append(task)
  print("task added successfully")
def mark_task_completed(task):
  view_tasks(task)
  try:
     task_number = int(input("enter the task number to mark as completed:"))
     if task_number < 1 or task_number > len(task):
       print("invalid number")
     else:
         task = task.pop(task_number - 1)
         print("task marked as completed")
  except ValueError:
    print("invalid input")
  def remove_task(task):
    view_tasks(task)
    try:
       task_number = int(input("enter the task number to remove:"))
       if task_number < 1 or task_number > len(task):
            print("invalid number")
       else:
            task = tasks.pop(task_number - 1)
            print("task removed successfully")
    except ValueError:
      print("invalid input")



  def main():

    tasks = []
  while True:
    show_menu()
    try:
        option = int(input("enter your option:"))
        if option == 1:
            view_tasks(tasks)
        elif option == 2:
            add_task(tasks)
        elif option == 3:
            mark_task_completed(tasks)
        elif option == 4:
            remove_task(tasks)
        elif option == 5:
            print("Goodbye!")
            break
        else:
            print("Invalid choice! Please select between 1 and 5.")
    except ValueError:
            print("Invalid input! Please enter a number.")

if __name__ == "__main__":
    main()

list of application
1.view task
2.add task
mark task as complete
remove task
exit
enter your option:1

NameError: name 'tasks' is not defined

In [ ]:
def factorial(n):
  if(n==0 or n ==1):
    return 1
  else:
    return n * factorial(n-1)
print(factorial(3))

6

In [ ]:
def fibo(n):
  if n <= 1:
    return n
  else:
    return fibo(n-1) + fibo(n-2)
print(fibo(7))

13

In [ ]:
import numpy as np
arr = np.array([1, 2, 3])
newarr = arr.astype(float)
print(newarr)
print(newarr.dtype)

[1. 2. 3.]
float64

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago