In [ ]:

class Student:
  name = "sandeep bilagoji"
  def __init__(self):
    print(self)
    print("this is constructor")
s1 = Student()
print(s1)

<__main__.Student object at 0x7845402cc3a0>
this is constructor
<__main__.Student object at 0x7845402cc3a0>

In [ ]:
class car:
  color = "blue"
  brand = "audi"
car1 = car()
print(car1.color)
print(car1.brand)

car2 = car()
print(car2.color)

blue
audi
blue

In [ ]:
class Student:
  college_name = "alliance"
  name = "anonymous"
  def __init__(self, name, age,marks):
    self.fullname = name
    self.age = age
    self.marks = marks
s1 = Student("sandeep", 26,97)
print(s1.fullname)
print(s1.age)
print(s1.marks)
print(s1.college_name)

s2 = Student("arjun", 26,97)
print(s2.fullname)
print(s2.age)
print(s2.marks)
print(s2.college_name)

sandeep
26
97
alliance
arjun
26
97
alliance

In [ ]:

class Student:
  college_name = "alliance"
  name = "anonymous"
  def __init__(self, name, age,marks):
    self.fullname = name
    self.age = age
    self.marks = marks

  def welcome(self):
    print("welcome to college",self.fullname)
  def getmarks(self):
    return self.marks
s1 = Student("sandeep", 26,97)
s1.welcome()
s1.getmarks()

welcome to college sandeep

97

In [ ]:
class Student:
  def __init__(self,name,eng,math,sci):
    self.name = name
    self.eng = eng
    self.math = math
    self.sci = sci
s1 = Student("sandeep",97,98,99)
q = (s1.eng + s1.math + s1.sci)/3
print(q)

98.0

In [ ]:
class Student:
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks
  @staticmethod
  def hello():
    print("hello world")

  def get_avg(self):
    sum = 0
    for mark in self.marks:
      sum += mark
    print("hi",self.name,"your avg score is",sum/len(self.marks))
s1 = Student("sandeep",[97,98,99])
s1.get_avg()
s1.hello()
s1.name = "arjun"
s1.get_avg()

hi sandeep your avg score is 98.0
hello world
hi arjun your avg score is 98.0

In [ ]:
class car:
  def __init__(self):
    self.acc = False
    self.brk = False
    self.clutch =False

  def start(self):
    self.acc = True
    print("car started")
  def stop(self):
    self.acc = False
    print("car stopped")
car1 = car()
car1.start()
car1.stop()

car started
car stopped

In [ ]:
class Acc:
  def __init__(self,balance,acc):
    self.balance = balance
    self.acc = acc

  def debit(self,amount):
    self.balance -= amount
    print("Rs", amount,"was debited from your account", self.balance)

  def credit(self,amount):
    self.balance += amount
    print("Rs", amount,"was credited to your account", self.balance)

  def check_balance(self):
    print("your current balance is Rs", self.balance)


acc1 = Acc(100000, 2500000)
print(acc1.balance)
print(acc1.acc)
acc1.debit(8000)
acc1.credit(1000)
acc1.check_balance()

100000
2500000
Rs 8000 was debited from your account 92000
Rs 1000 was credited to your account 93000
your current balance is Rs 93000

In [ ]:
class student:
  def __init__(self, name):
    self.name = name
s1 = student("sandeep")
del s1.name
print(s1.name)

AttributeError: 'student' object has no attribute 'name'

In [ ]:
class account:
  def __init__(self,acc_no,acc_pass):
    self.acc_no = acc_no
    self._acc_pass = acc_pass
  def reset_pass(self):
    print(self._acc_pass)
acc1 = account(2500000,1234)
print(acc1.acc_no)
print(acc1.reset_pass())

2500000
1234
None

In [ ]:
class person:
  __name = "anonymous"
  def hello(self):
    print("hello world")

p1 = person()
print(p1.hello)

<bound method person.hello of <__main__.person object at 0x7b1efdca6230>>

In [ ]:
class person:
  __name = "anonymous"
  def __hello(self):
    print("hello world")
  def welcome(self):
    slef.__hello()


p1 = person()
print(p1.welcome)

<bound method person.welcome of <__main__.person object at 0x7b1efdd98c10>>

In [ ]:
class car:
  color = "black"
  @staticmethod
  def start():
    print("car started")
  @staticmethod
  def stop():
    print("car stopped")
class Toyotacar(car):
  def __init__(self, name):
    self.name = name
car1 = Toyotacar("fortuner")
car2 = Toyotacar("prius")
print(car1.start())
print(car1.color)

car started
None
black

In [ ]:
class car:
  @staticmethod
  def start():
    print("car started")
  @staticmethod
  def stop():
    print("car stopped")
class Toyotacar(car):
  def __init__(self, brand):
    self.brand = brand
class fortuner(Toyotacar):
  def __int__(self, type):
    self.type = type

car1 = fortuner("fortuner")
car1.start()

car started

In [ ]:
class A:
  varA ="welcome to class A"
class B:
  varB = "welcome to class B"
class c (A,B):
  varC = "welcome to class C"
c1 = c()
print(c1.varA)
print(c1.varB)
print(c1.varC)

welcome to class A
welcome to class B
welcome to class C

In [ ]:
class car:
  def __init__(self, type):
    self.type = type
  @staticmethod
  def start():
    print("car started")
  @staticmethod
  def stop():
    print("car stopped")
class Toyotacar(car):
  def __init__(self, name, type):
    self.name = name
    super().__init__(type)
    super().start()

car1 = Toyotacar("fortuner","elelctric")
print(car1.type)
print(car1.start())

car started
elelctric
car started
None

In [ ]:
class person:
  name = "anonymous"
  def changeName(self,name):
    person.name = name
p1 = person()
p1.changeName("sandeep")
print(p1.name)
print(person.name)

sandeep
sandeep

In [ ]:
class person:
  name = "anonymous"
  # def changeName(self,name):
  #   self.__class__.name = "sanny"

  @classmethod
  def changeName(cls,name):
    cls.name = name
p1 = person()
p1.changeName("sandeep")
print(p1.name)
print(person.name)

sandeep
sandeep

In [ ]:
class student:
    def __init__(self, phy, chem, math):
      self.phy = phy
      self.chem = chem
      self.math = math

    # def claculate_percentage(self):
    #   print((self.phy+self.chem+self.math)/3)

    @property
    def percentage(self):
      return (self.phy+self.chem+self.math)/3
str1 = student(98, 97, 99)
print(str1.percentage)
str1.phy =86
print(str1.percentage)

98.0
94.0

In [ ]:
print(1+2)

3

In [ ]:
class complex:
  def __init__(self, real, imag):
    self.real = real
    self.imag = imag
  def showNUmber(self):
    print(self.real,"i +", self.imag,"j")

  def __add__(self,num):
    newreal = self.real + num.real
    newimag = self.imag + num.imag
    return complex(newreal, newimag)

  def __sub__(self,num):
    newreal = self.real - num.real
    newimag = self.imag - num.imag
    return complex(newreal, newimag)

num1 = complex(1,2)
num1.showNUmber()


num2 = complex(3,4)
num2.showNUmber()

num3 = num1+num2
num3.showNUmber()

num4 = num1-num2
num4.showNUmber()

1 i + 2 j
3 i + 4 j
4 i + 6 j
-2 i + -2 j

In [ ]:
print(len("Hello"))  # Works with a string
print(len([1, 2, 3, 4]))  # Works with a list

5
4

In [ ]:
class circle:
  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return 3.14*self.radius** 2
  def permeter(self):
    return 2*3.14*self.radius
c1 = circle(21)
print(c1.area())
print(c1.permeter())

1384.74
131.88

In [ ]:
class employee:
  def __init__(self, role, department, salary):
    self.role = role
    self.department = department
    self.salary = salary

  def showDetails(self):
    print("role:", self.role)
    print("department:", self.department)
    print("salary:", self.salary)

  class Engineer(employee):
    def __init__(self, name,age):
      self.name = name
      self.age = age
      super().__init__("engi", "it", "900000")

    def showDetails(self):
      print("name:", self.name)
      print("age:", self.age)
      super().showDetails()

engg1 = Engineer("sandeep", 26)
engg1.showDetails()

NameError: name 'Engineer' is not defined

In [ ]:
class order:
  def __init__(self, item, price):
    self.item = item
    self.price = price
  def __gt__(self, other):
    return self.price > other.price

odr1 = order("pen", 10)
ord2 = order("pencil", 5)

print(ord1 > ord2)

NameError: name 'ord1' is not defined

In [ ]:
class car:
  def speed(self):
    print("100km")
class audi(car):
  def engine(self):
    print("engine is power full")
c1 = audi()
c1.speed()
c1.engine()

100km
engine is power full

In [ ]:
class animal:
  def sound(self):
    print("some generic sound")
class dog(animal):
  def sound(self):
    print("bark")
class cat(animal):
  def sound(self):
    print("meow")
d1 = dog()
c1 = cat()
d1.sound()
c1.sound()

bark
meow

In [ ]:
class calculator:
  def add(self,num1,num2):
    return num1+num2
  def sub(self,num1,num2):
    return num1-num2
c1 = calculator()
print(c1.add(2,3))
print(c1.sub(2,3))

5
-1

In [ ]:
class calculator:
  def add(self,num1,num2):
    self.num1 = num1
    self.num2 = num2
    return self.num1+self.num2
  def sub(self,num1,num2):
    return num1-num2
class AdvancedCalculator(calculator):
  def mul(self,num1,num2):
    return num1*num2
  def div(self,num1,num2):
    return num1//num2
c1 = AdvancedCalculator()
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
print(c1.add(num1,num2))
print(c1.sub(num1,num2))
print(c1.mul(num1,num2))
print(c1.div(num1,num2))

enter first number14
enter second number23
37
-9
322
0

In [ ]:
class normal_room:
  def calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
    self.rent = rent
    if self.days == 1:
      print( 300*self.days)
    elif self.days > 1 and self.days < 4:
      print(250*self.days)
    else:
       print(200*self.days)
class AC_room:
  def AC_calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
     if self.days == 1:
      print(200*)
    elif self.days > 1 and self.days < 4:
      print("room rent is 300")
    else:
      print("room rent is 250")
class Suite_room:
  def Suite_calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
    if self.no_rooms == 1:
      print("room rent is 550")
    elif self.days > 1 and self.days < 4:
      print("room rent is 500")
    else:
      print("room rent is 450")
class Hotel:
  def __int__(self,normal_room,AC_room,Suite_room):
    self.normal_room = normal_room
    self.AC_room = AC_room
    self.Suite_room = Suite_room
  def display(self,name,address,mobile_number):
    print("name:",name)
    print("address:",address)
    print("mobile_number:",mobile_number)
c1 = hotel()
print(c1.calculates(1,1))

IndentationError: unexpected indent (<ipython-input-3-d5f96e7e39eb>, line 16)

In [ ]:
class normal_room:
  def calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
    if self.days == 1:
      print( 300*self.days)
    elif self.days > 1 and self.days < 4:
      print(250*self.days)
    else:
       print(200*self.days)
class AC_room:
  def AC_calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
    if self.days == 1:
      print(200)
    elif self.days > 1 and self.days < 4:
      print(300*self.days)
    else:
      print(250*self.days)
class Suite_room:
  def Suite_calculates(self,no_rooms,days):
    self.no_rooms = no_rooms
    self.days = days
    if self.no_rooms == 1:
      print(550*self.days)
    elif self.days > 1 and self.days < 4:
      print(500*self.days)
    else:
      print(450*self.days)
class Hotel:
  def __init__(self,normal_room,AC_room,Suite_room):
    self.normal_room = normal_room
    self.AC_room = AC_room
    self.Suite_room = Suite_room
  def display(self,name,address,mobile_number):
    print("name:",name)
    print("address:",address)
    print("mobile_number:",mobile_number)
c1 = Hotel(normal_room(),AC_room(),Suite_room())
print(c1.normal_room.calculates(1,1))
print(c1.AC_room.AC_calculates(1,1))
print(c1.Suite_room.Suite_calculates(1,1))
print(c1.display("sandeep","belgum","9513861196"))

300
None
200
None
550
None
name: sandeep
address: belgum
mobile_number: 9513861196
None

In [ ]:
class car:
  def audi(self,brand,model,price):
    self.brand = brand
    self.model = model
    self.price = price
  def showDetails(self):
        print("brand:", self.brand)
        print("model:", self.model)
        print("price:", self.price)
c1 = car()
c1.audi("toyato",2007,10000)
print(c1.showDetails())

brand: toyato
model: 2007
price: 10000
None

In [ ]:
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def showDetails(self):
    print("name:", self.name)
    print("age:", self.age)
p1 = person("sandeep",26)
print(p1.showDetails())

name: sandeep
age: 26
None

In [ ]:
class student:
  school = "modern"
  def __init__(self,name):
    self.name = name
s1 = student("sandeep")
print(s1.name,s1.school)

student.

sandeep modern

moder moder
moder moder

In [ ]:
class person:
  def __init__(self,name):
    self.name = name
class staff(person):
  def __init__(self,id):
    self.id = id
class temporaraystaff(staff):
  def __init__(self):
    def display(self,no_ofDays,hoursworked,total_salary):
      self.no_ofDays = no_ofDays
      self.hoursworked = hoursworked
      self.total_salary = total_salary
    def salary(self,total_salary):
      self.total_salary = total_salary
      total_salary = no_ofDays*hoursworked*150
      return total_salary

c1 = temporaraystaff()
print(c1.name("sandeep"))

AttributeError: 'temporaraystaff' object has no attribute 'name'

sandeep

In [ ]:
class Person:
    def _init_(self, name):
        self.name = name

    def display(self):
        print("Name:", self.name)

class Staff(Person):
    def _init_(self, name, id):
        super()._init_(name)
        self.id = id

    def display(self):
        super().display()
        print("ID:", self.id)

class TemporaryStaff(Staff):
    def _init_(self, name, id, days, hours_per_day):
        super()._init_(name, id)
        self.days = days
        self.hours_per_day = hours_per_day

    def salary(self):
        total_hours = self.days * self.hours_per_day
        return total_hours * 150

    def display(self):
        super().display()
        print("Days Worked:", self.days)
        print("Hours Per Day:", self.hours_per_day)
        print("Total Salary Earned:", self.salary())

# Example usage
name = input("Enter name: ")
id_number = input("Enter ID: ")
days = int(input("Enter number of days worked: "))
hours_per_day = int(input("Enter hours worked per day: "))

staff = TemporaryStaff(name, id_number, days, hours_per_day)
staff.display()

Enter name: sandeep
Enter ID: 34
Enter number of days worked: 23
Enter hours worked per day: 1

TypeError: TemporaryStaff() takes no arguments

In [ ]:
class car:
  wheels = 4
  def __init__(self,brand,model):
    self.brand = brand
    self.model = model
c1 = car("toyato",2007)
print(c1.brand,c1.model,c1.wheels)
car.wheels = 5
print(c1.brand,c1.model,c1.wheels)

toyato 2007 4
toyato 2007 5

In [ ]:
class Animal:
  def speak(self):
    print("i make a sound")
class Dog(Animal):
  print("woof")
c1 = Dog()
print(c1.speak())

woof
i make a sound
None

In [ ]:
class person:
  def __init__(self,name):
    self.name = name
  def showDetails(self):
    print("name:", self.name)
class staff(person):
  def __init__(self,id):
    self.id = id
  def showDetails(self):
    print("name:", self.name)
    print("id:", self.id)
class TemporaryStaff(staff):
  def __init__(self,days,hours_per_day):
    self.days = days
    self.hours_per_day = hours_per_day
  def salary(self):
    total_hours = self.days * self.hours_per_day
    return total_hours * 150
  def showDetails(self,name,id,days,hours_per_day):
    super().__init__(name, id)
    print("name:", self.name)
    print("id:", self.id)
    print("days:", self.days)
    print("hours_per_day:", self.hours_per_day)
c1 = TemporaryStaff(2,8)
print(c1.salary())
c1.showDetails("sandy",25,23,6)

2400

TypeError: staff.__init__() takes 2 positional arguments but 3 were given

In [ ]:
class person:
  def __init__(self,name):
    self.name = name
  def showDetails(self):
    print("name:", self.name)
class staff(person):
  def __init__(self,id):
    self.id = id
  def showDetails(self):
    print("name:", self.name)
    print("id:", self.id)
class TemporaryStaff(staff):
  def __init__(self,days,hours_per_day):
    self.days = days
    self.hours_per_day = hours_per_day
  def salary(self):
    total_hours = self.days * self.hours_per_day
    return total_hours * 150
  def showDetails(self,name,id,days,hours_per_day):
    super().__init__(id)
    print("name:", name)
    print("id:", self.id)
    print("days:", self.days)
    print("hours_per_day:", self.hours_per_day)
c1 = TemporaryStaff(2,8)
print(c1.salary())
c1.showDetails("sandy",25,23,6)

2400
name: sandy
id: 25
days: 2
hours_per_day: 8

In [ ]:
# Base class Person
class Person:
    def __init__(self, name):
        self.name = name

    def display(self):
        print("Name:", self.name)

# Intermediate class Staff, inheriting from Person
class Staff(Person):
    def __init__(self, name, id):
        super().__init__(name)  # Call constructor of Person to initialize name
        self.id = id

    def display(self):
        super().display()  # Call display method of Person to show name
        print("ID:", self.id)

# Derived class TemporaryStaff, inheriting from Staff
class TemporaryStaff(Staff):
    def __init__(self, name, id, days, hours_per_day):
        super().__init__(name, id)  # Call constructor of Staff to initialize name and id
        self.days = days
        self.hours_per_day = hours_per_day

    # Method to calculate salary
    def salary(self):
        total_hours = self.days * self.hours_per_day
        return total_hours * 150

    # Overridden display method to show temporary staff details
    def display(self):
        super().display()  # Call display method of Staff to show name and id
        print("Days Worked:", self.days)
        print("Hours Worked Per Day:", self.hours_per_day)
        print("Total Salary Earned:", self.salary())

# Example usage:
name = input("Enter name: ")
id_number = input("Enter ID: ")
days = int(input("Enter number of days worked: "))
hours_per_day = int(input("Enter hours worked per day: "))

# Create an object of TemporaryStaff
staff = TemporaryStaff(name, id_number, days, hours_per_day)
staff.display()  # Display the details and salary of the temporary staff

Enter name: sandy
Enter ID: 23
Enter number of days worked: 4
Enter hours worked per day: 12
Name: sandy
ID: 23
Days Worked: 4
Hours Worked Per Day: 12
Total Salary Earned: 7200

In [ ]:
class sum_odd:
  def calc(self):
    _n=int(input())  # _n is defined here
    x = 0
    for i in range(1,_n+1):  # Now _n is accessible in this loop
      if i%2!=0:
        x = x+i
      print(x)

m=sum_odd()
m.calc()

In [ ]:
from os import get_blocking
class bank:
  init (self,owner,bal=0):
  __bal
get_bal():
deposite(self,amt):
 if amt>0:
  self._bal += amt