In [5]:
values={6,"python",6}
values

{6, 'python'}

In [7]:
type(values)

set

In [11]:
value={}
type(value)

dict

In [13]:
values=set()
values

set()

In [19]:
values={9,5,7,2,6}
values

{2, 5, 6, 7, 9}

In [21]:
set1=set()
print(set1)

set()

In [23]:
value_set={2,"python","a",5,9.4}
value_set

{2, 5, 9.4, 'a', 'python'}

In [25]:
value_set[0]

TypeError: 'set' object is not subscriptable

In [27]:
value_set={2,"python","a",5,9.4}
value_set.append("sam")
value_set

AttributeError: 'set' object has no attribute 'append'

In [31]:
value_set1=value_set+"sam"
value_set1

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [33]:
value_set.add("sam")
value_set

{2, 5, 9.4, 'a', 'python', 'sam'}

In [35]:
9value_set.add("sam","B")
value_set

TypeError: set.add() takes exactly one argument (2 given)

In [37]:
value_set.remove("python")
value_set

{2, 5, 9.4, 'a', 'sam'}

In [39]:
value_set.remove("python","sam")
value_set

TypeError: set.remove() takes exactly one argument (2 given)

In [41]:
value_set.remove("python",2)
value_set

TypeError: set.remove() takes exactly one argument (2 given)

In [43]:
value_set.remove(2)
value_set

{5, 9.4, 'a', 'sam'}

In [45]:
value_set.discard('a')
value_set

{5, 9.4, 'sam'}

In [47]:
value_set.discard(1)
value_set

TypeError: set.discard() takes exactly one argument (0 given)

In [49]:
value_set.discard(20)
value_set

{5, 9.4, 'sam'}

In [51]:
value_set.clear()
value_set

set()

In [55]:
val1={1,2,3,4,5}
del val1

In [14]:
value_set=set()
n=int(input())
for i in range(n):
    value_set.add(int(input()))
value_set

 4
 6
 2
 8
 9

{2, 6, 8, 9}

In [20]:
n=int(input("enter number"))
print(n in value_set)

enter number 4

False

In [22]:
set1={"jan","feb","march","april"}
set2={"sun","mon","tue","wed"}
print(set1)
print(set2)

{'march', 'feb', 'april', 'jan'}
{'mon', 'tue', 'sun', 'wed'}

In [28]:
set1={"jan","feb","march","april"}
set2={"sun","mon","tue","wed"}
set3=set1.union(set2)
print(set3)

{'april', 'mon', 'sun', 'march', 'feb', 'jan', 'tue', 'wed'}

In [30]:
set1={"jan","feb","march","april"}
set2={"sun","mon","tue","wed"}
set3=set1 | set2
print(set3)

{'april', 'mon', 'sun', 'march', 'feb', 'jan', 'tue', 'wed'}

In [34]:
set1={"jan","feb","march","april"}
set2={"sun","mon","tue","wed"}
set3=set1 |set2
print(set3)

set()

In [5]:
set1={"jan","feb","march","april"}
set2={"jan","mon","tue","wed"}
common=set1 & set2
print(common)

{'jan'}

In [13]:
set1={"jan","feb","march","april"}
set2={"jan","march"}
common=set1 - set2
print(common)

{'feb', 'april'}

In [9]:
x=set1.difference(set2)
x

{'april', 'feb'}

In [15]:
set1>set2

True

In [1]:
set1={"jan","feb","march","april"}
set2={"jan","feb"}
print(set1>set2)
print(set1<set2)
print(set1==set2)

True
False
False